<%= @user.username %>のいいね一覧
<% if @post.likes.count = 0 %>
 <p>いいねした投稿はまだありません</p>
<% else %>
 <% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
  <%= image_tag post.image, size: "300x300" %>
 <% end %> 
<% end %> 
