<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
  <h2>ユーザー名：<%= @user.username %></h2>
  
  <p>自分の投稿一覧</p>
  マイページの場合に表示されたい内容
  プロフィール編集ボタン
  
<% else %>
  <h1>ユーザー詳細ページ</h1>
  <h2>ユーザー名：<%= @user.username %></h2>
  
  <p>ユーザーの投稿一覧</p>
<% end %>

