<!--<%# if user_signed_in? %>-->
<!--  <h1><%#= @user.email %>のマイページ</h1>-->
<!--  マイページの場合に表示されたい内容-->
<!--  このログインユーザーの投稿一覧-->
<!--  プロフィール編集ボタン-->
  
<%# else %>
  <h1>ユーザーページ</h1>
  ユーザーの名前
  ユーザーの投稿一覧
<%# end %>

<!--&& @user == current_user-->