<% if user_signed_in? && @user == current_user %>
  <h1><%= @user.username %>のマイページ</h1>
  マイページの場合に表示されたい内容
  このログインユーザーの投稿一覧
  プロフィール編集ボタン
  
<% else %>
  <h1>ユーザーページ</h1>
  ユーザーの名前
  ユーザーの投稿一覧
<% end %>

