<!DOCTYPE html>
<html lang="ja">
 <head>
   <link rel="stylesheet" href="../../assets/stylesheets/top.css"/>
 </head>
  
 <body>
  <h1>推し巡り</h1>
  <!--ログアウトフラッシュメッセージ-->
   <p><%= flash[:notice] %></p>
 
   <br>
   <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
   </br>
   <br>
   <%= link_to "ログイン", new_user_session_path %>
   </br>
   <%= link_to "新規登録", new_user_registration_path %>
   

  <h2>推し巡り</h2>
   説明

 </body>
</html>