/* 
  *= require_self 
  *= require_tree . 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  width: auto;
  padding: 5px 0;
  margin: 0 auto;
  text-align:center;
  position: relative;
  background-color: #778899
}

h1{
  color: white;
  text-align: center;
  font-family: HiraMinProN-W6;
  font-size: 30px;
}

.header-bottom{
  width: 100%;
  color:black;
  
}

.main-visual {
  width: 100%; 
  height: 150px; 
  background-color: #F5F5F5	;
  text-align: center;
}



