
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  width: auto;
  padding: 5px 0;
  margin: 0 auto;
  text-align:center;
  position: relative;
  background-color: #778899;
}

.title{
  color: white;
  text-align: center;
  font-family: HiraMinProN-W6;
  font-size: 30px;
}

.header-bottom{
  width: 100%;
  color:black;
}

footer{
  
  background-color: #808080;
  color: white;
  text-align: center;
  margin-top: 100px;
  padding:50px;
}
