* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}


header{
  width: auto;
  padding: 5px 0;
  margin: 0 auto;
  text-align:center;
  position: relative;
  background-color: gray
}

h1{
  color: white;
  text-align: center;
  font-family: HiraMinProN-W6;
  font-size: 30px;
}

