* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #6c6b6b;
}

.main-visual{
  
}

main{
  
}

.post.all{
 text-align: center;
 padding-top: 10px;
 padding-bottom: 50px;
 font-size: 20px;
}