* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.main-visual{
  background-color: #F5F5F5	;
}

.search{
 text-align: center;
 font-size: 30px;
 padding-top: 50px;
 font-family: HiraMinProN-W6;
}

.search_form{
 text-align: center;
 padding-top: 30px;
}

main{
  width: 100%;
}

.post_all{
 text-align: center;
 padding-top: 80px;
 padding-bottom: 50px;
 font-size: 30px;
 font-family: HiraMinProN-W6;
}