* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post_page{
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Hiragino Sans W6;
}

.post_new_image{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Hiragino Sans W6;
}

.post_new_title{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Hiragino Sans W6;
}

.post_new_body{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Hiragino Sans W6;
}

.post_button{
  text-align: center;
}