* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.new_post{
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 35px;
  font-family: Hiragino Sans W6;
}

.field{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Hiragino Sans W6;
}

.actions{
   text-align: center;
   margin-top: 50px;
}

.render_links{
   text-align: center;
   margin-top: 50px;
}